<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.expert.fire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FiRe"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.expert.fire.Favorites"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.expert.fire.Upload"
            android:exported="false" />
        <activity
            android:name="com.expert.fire.ForgotPassword"
            android:exported="false" />
        <activity
            android:name="com.expert.fire.Security"
            android:exported="false" />
        <activity
            android:name="com.expert.fire.Language"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"/>
        <activity
            android:name="com.expert.fire.PersonalInformation"
            android:exported="false" />
        <activity
            android:name="com.expert.fire.User"
            android:exported="false" />
        <activity
            android:name="com.expert.fire.Pantry"
            android:exported="false" />
        <activity
            android:name="com.expert.fire.CreateAccount"
            android:exported="false" />
        <activity
            android:name="com.expert.fire.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.expert.fire.DishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>